<div class="header">
    <h1>My Carrito</h1>

    <img src="/img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>
<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="card">

        <ul id="carrito">
            {{#if carrito.productos.length}}

            {{#each carrito.productos}}
            <div class="card-prod">
                <li>
                    <strong>Descripcion: </strong>{{producto.description}} <br>
                    <strong>Precio: </strong>{{producto.price}} <br>
                    <strong>Cantidad: </strong>{{cantidad}} <br>
                </li>
            </div>
            {{/each}}
            {{else}}
            <img src="/img/iconos/vacio.png" alt="carrito-vacio" class="vacio-car">
            <strong class="vacio">Tu carrito está vacío.</strong>
            {{/if}}
        </ul>
        <a href="/productos" class="seguir-comp">
            <img src="/img/iconos/compra.png" alt="icono-compra">
            Seguir Comprando
        </a>
    </div>
</div>

<hr>
<div class="footer">






</div>