<div class="header">
    <h1>Comunidad de Chat</h1>

    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>

</div>
<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="chat">

        <div class="info-registro">
            <span>
                <span>Bienvenidos a la comunidad lanera, sean libres de charlar y conocerse.</span><br>
                <span>Sean responsables de comunicarse sin faltar el respeto de los demas usuarios.</span><br>
                <span>Así entre todos podamos tener una mayor cordialidad y gentileza.</span>
            </span>
        </div>
        <strong>Escribe aquí abajo: </strong><input type="text" id="mensaje">
        <div id="mensajes">

        </div>

    </div>




</div>

<hr>

<div class="footer">
    <span>
        ¡Muchas Gracias por su visita!
    </span>

    <p>
        © 2022 - 2024 | Punto Feliz - <a href="/contacto">Contacto</a>
    </p>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>