<div class="header">
    <h1>Quienes Somos</h1>

    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>

<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="card">

        <input type="text" name="web" value="web" hidden>

        {{#if error}}
        <div style="font-weight:bolder; font-size:18px; color:red">{{error}}</div> <br>
        {{/if}}

        <div class="quienes">
            <span>
                Todos podemos ser creadores de nuestras virtudes. <br>
                Las mías comenzaron en épocas de pandemia, <br>
                y lo que inicio con motivo de aprendizaje, <br>
                se convirtió en un emprendimiento hermoso.
            </span>
        </div>

        <div class="historia">
            <br>
            <span>
                <h2>¿Quienes Somos?</h2> <br>
                <p>Nuestro nombre es <strong>"Punto Feliz"</strong> , porque 
                cada punto que diseñamos es un trabajo pensado </p> 
                <p>especialmente para hacer feliz a las personas que así lo requieran.</p>
            </span>
            <br>

            <img src="/img/logo-punto-feliz.png" alt="logo">
            <br>

            <span>
                <h2>¿Cuando empezamos?</h2> <br>
                <p>En procesos de pandemia, por abril del año 2022,  
                todo comenzó como una idea, una forma <br>
                de aprender algo nuevo.  
                El tiempo sobraba y como esta idea, muchas más fueron creciendo.</p>
                <p>Lo que se inició como un arte, hoy en día se convirtió en un microemprendimiento.</p>
            </span>
            <br>

            <img src="/img/logo-punto-feliz.png" alt="logo">
            <br>

            <span>
                <h2>¿A que nos dedicamos?</h2> <br>
                <p>Principalmente nos dedicamos al arte del tejido a CROCHET. <br>
                Vendemos productos tejidos, asesoramos a los que se inician en este mundo.</p>
                <p>Intentamos crear una comunidad en la que muchos colegas se vayan sumando. </p>
            </span>
            <br>

            <img src="/img/logo-punto-feliz.png" alt="logo">
            <br>

        </div>
    </div>
</div>


<hr>
<div class="footer">
    <span>
        ¡Muchas Gracias por su visita!
    </span>

    <p>
        © 2022 - 2024 | Punto Feliz - <a href="/contacto">Contacto</a>
    </p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productos.js"></script>