<div class="header">
    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="titulo">
        <h1>Punto Feliz</h1>
        <span><strong>{{visitas}}</strong></span>
    </div>

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>

</div>
<hr>

<div class="menuH">
    {{>menu}}
    <hr>
</div>

<div class="main-home">
    <div class="presentacion-home">
        <span>
            Bienvenidos al mágico mundo del tejido a CROCHET <br>
            Registrate y obtené beneficios especiales para tí. <br>
            Crea tu perfil y accederás a una sala de chat, productos en línea, <br>
            donde podrás organizar tus compras dentro del carrito.
        </span>
    </div>

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/img/slider/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/7.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/8.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/img/slider/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/7.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/slider/8.jpg" alt="">
            </div>
        </div>
    </div>

    <hr>

    <div class="card-info-main">
        <span>
            <img src="/img/iconos/lana.ico" alt="ovillo">
            Tejer es un arte terapéutico que alivia el estress. <br>
            Aquí les cuento algunos Tips importantes para tejer a CROCHET <br>
            que deben saber, si se atreven a sumergirse <br>
            en el hermoso mundo del tejido.
            <img src="/img/iconos/lana.ico" alt="ovillo">
        </span>

        <br>

        <div class="card">
            <img src="/img/agujas.jpg" alt="" class="card1">
            <div class="card-content">
                <h2>Agujas</h2>
                <br>
                <p>
                    Existen distintos tipos de agujas de CROCHET <br>
                    para distintos trabajos, y cada una <br>
                    tiene un fin en particular. <br>
                    Mientras mas chica sea la aguja, <br>
                    mas cerrado sera el punto.
                </p>
            </div>
        </div>

        <div class="card">
            <img src="/img/cadenas.png" alt="" class="card1">
            <div class="card-content">
                <h2>Cadenas</h2>
                <br>
                <p>
                    El punto inicial para comenzar a tejer a crochet <br>
                    es aprender a hacer cadenas. A partir de ahí, <br>
                    comienza toda la magia. En este sitio te enseñaremos <br>
                    como aprender tus primeras cadenitas, para que luego <br>
                    aprendas a combinarlas con los distintos puntos de fantasía.
                    La magia y la delicadeza de este arte están <br>
                    en el diseño de los distintos puntos.
                </p>
            </div>
        </div>

        <div class="card">
            <img src="/img/aroMagico.jpg" alt="" class="card1">
            <div class="card-content">
                <h2>Aro Mágico</h2>
                <br>
                <p>
                    Existen diversas maneras de tejer. Se puede tejer <br>
                    de manera lineal, circular o ambas. Pero hay muchos <br>
                    tejidos que requerirán comenzar con un tejido circular, en donde <br>
                    para cada vuelta requerira un aumento o varios. <br>
                    Para ese caso, existe una forma práctica y sencilla de comenzar a tejer que es el conocido "Aro Mágico". <br>
                    Los casos mas usados suelen ser principalmente los gorros o "Amigurumis".

                </p>
            </div>
        </div>

        <img src="/img/medidas.jpg" alt="medidas" class="medidas">

    </div>

</div>

<hr>
<div class="footer">
    <span>
        ¡Muchas Gracias por su visita!
    </span>

    <p>
        © 2022 - 2024 | Punto Feliz - <a href="/contacto">Contacto</a>
    </p>

</div>