<div class="header">
    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="titulo">
        <h1>Punto Feliz</h1>
        <span><strong>{{visitas}}</strong></span>
    </div>

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>

</div>
<hr>

<div class="menuH">
    {{>menu}}

</div>

<div class="main">

<div class="intro-main">
    <figure>
        <img src="./img/main-p.jpg" alt="" class="imagen-p">
    </figure>


</div>



</div>

<hr>
<div class="footer">






</div>