<div class="header">
    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="titulo">
        <h1>Punto Feliz</h1>

    </div>

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>

</div>
<hr>

<div class="menu">
    <a href="/stock">Stock</a>
    <a href="/productos">Productos</a>
    <a href="/carrito/{{carrito._id}}">Carrito</a>
    <a href="/chat">Chat</a>
    <a href="/usuarios">Usuarios</a>
</div>

<div class="main">






</div>

<hr>
<div class="footer">






</div>