<div class="header">
    <h1>Registro</h1>

    <img src="/img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>
<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="card">
        <div class="info-registro">
            <span>
                Bienvenido Usuario, registrandote a la pagina obtendras muchos buenos beneficios,<br>
                tales como acceder a nuestra sala de chat, poder observar nuestros productos <br>
                y comprarlos si lo prefieras. Y muchos beneficios extras!!!
            </span>
        </div>

        <h2>Registrate</h2>
        <br>

        <form action="/api/session/registro" method="post">
            {{#if error}}
            <div style="font-weight:bolder; font-size:18px; color:red">{{error}}</div> <br>
            {{/if}}

            <strong>Nombre: </strong><input type="text" name="name" placeholder="Escriba su nombre">
            <strong>Apellido: </strong><input type="text" name="last_name" placeholder="Escriba su apellido">
            <strong>Email: </strong><input type="email" name="email" placeholder="Escriba su email">
            <strong>Contraseña: </strong><input type="password" name="password" placeholder="Escriba su contraseña">
            <input type="text" name="web" value="web" hidden>
            <br><br>
            <input type="submit" value="Registrate" class="registro">
        </form>

        <div class="logo">
            <img src="/img/logo-punto-feliz.png" alt="logo">
        </div>
    </div>

</div>

<hr>
<div class="footer">
    <span>
        ¡Muchas Gracias por su visita!
    </span>

    <p>
        © 2022 - 2024 | Punto Feliz - <a href="/contacto">Contacto</a>
    </p>
</div>