<div class="header">
    <h1>Nuestros Servicios</h1>

    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>

<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="card">

        <input type="text" name="web" value="web" hidden>

        {{#if error}}
        <div style="font-weight:bolder; font-size:18px; color:red">{{error}}</div> <br>
        {{/if}}

        <div class="servicios">
            <span>
                Ofrecemos productos tejidos diversos. Aquí encontrarás <br>
                desde los gorros clásicos de lana hasta los más originales. <br>
                Desde las medias, pantuflas y botitas hasta la mejor variedad <br>
                de cuellos, bufandas y cuello-bufandas.
            </span>
        </div>

        <div class="nuestros-servicios">
            <h3>Nuestro Productos</h3>

            <div class="productos">

                <div class="card-product">
                    <img src="/img/productos/boinas.jpg" alt="boinas">
                    <h2>Boinas</h2>
                    <span>
                        Boinas tejidas con punto corazón, vienen con una pequeña visera, con color a elección.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/bufandas.jpg" alt="bufandas">
                    <h2>Bufandas</h2>
                    <span>
                        Bufandas largas clásicas, con diversos puntos originales y de diversos colores.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/bufandas-largas.jpg" alt="bufandones">
                    <h2>Bufandones</h2>
                    <span>
                        Bufandones largos para cubrir el cuello y los hombros, con un diseño curvo.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/bufandas-trenzadas.jpg" alt="bufandas trenzadas">
                    <h2>Bufandas Trenzadas</h2>
                    <span>
                        Bufandas con diseños en forma de trenza para cubrir el cuello de forma más sútil.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/cuellos.jpg" alt="cuellos">
                    <h2>Cuellos</h2>
                    <span>
                        Cuellos con botones de un extremo para poder cerrar el tejido. Con bordados especiales para
                        darle un toque distnto al producto.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/cuellos-vinchas.jpg" alt="cuellos vincha">
                    <h2>Cuellos Vincha</h2>
                    <span>
                        Cuellos clásicos con puntos delicados y su doble funcionalidad para utilizarla como vincha para
                        sujetar el cabello.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/gorros.jpg" alt="gorros">
                    <h2>Gorros</h2>
                    <span>
                        Gorros clásicos de invierno, largos y cortos, solo el gorro o con pompónes en su extremo.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/gorros-reversibles.jpg" alt="gorros reversibles">
                    <h2>Gorros Reversibles</h2>
                    <span>
                        Gorros con puntos dobles y su doble funcionalidad de utilizarlo de un lado o del otro.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/mitones.jpg" alt="Mitones">
                    <h2>Mitones</h2>
                    <span>
                        Cómodos mitones (guantes sin dedos) para calentar las manos y tener mayor libertad de
                        movimientos.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/pantuflas.jpg" alt="pantuflas">
                    <h2>Pantuflas</h2>
                    <span>
                        Pantuflas con punto elástico aferrándose a la medida de cada pie, muy cómodas para caminar y/o
                        para dormir con ellas.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/pantumedias.jpg" alt="pantumedias">
                    <h2>Pantumedias</h2>
                    <span>
                        Pantumedias o comunmente llamadas botitas, se amoldan al pie como las pantuflas y se extienden
                        para curbir parte del tobillo.
                    </span>
                </div>

                <div class="card-product">
                    <img src="/img/productos/polainas.jpg" alt="Polainas">
                    <h2>Polainas</h2>
                    <span>
                        Cálidas polainas largas que tienen como objetivo cubrir la entrepierna brindando mucho calor.
                    </span>
                </div>

            </div>

            <h3>Tips y Consejos Útiles</h3>


            <div class="utiles">
                <div class="consejos">
                    <p>Datos útiles para aquellas personas que comienzan a tejer o algunas que ya han comenzado.</p>
                </div>

                <div class="card-utiles">

                    <div class="card-datos">
                        <img src="/img/lanas.jpg" alt="lanas">
                        <h4>Elección de lana</h4>
                        <br>
                        <span>
                            Cuando se comienza un trabajo, lo primero <br>
                            que hay que pensar es en que tipo y color <br>
                            de lana se va a <br> trabajar.
                            El color es algo estético que <br>difiere 
                            del gusto individual de cada persona. Pero el tipo <br>
                            de lana es importante saber cual se va a usar <br>
                            para determinar que agujas vamos a usar.
                        </span>
                    </div>

                    <div class="card-datos">
                        <img src="/img/cadenas-puntos.jpg" alt="cadenas">
                        <h4>Cálculos de puntos y/o cadenas.</h4>
                        <br>
                        <span>
                            Antes de comenzar algún trabajo <br>es recomendable
                            contar con un patrón de diseño. Gracias <br>
                            al mismo podremos calcular la cantidad de puntos que tendremos <br>
                            en cada vuelta, como así que tipo de puntos o cadenas tejer. <br>
                            De esto depende la totalidad de cualquier trabajo.
                        </span>
                    </div>

                    <div class="card-datos">
                        <img src="/img/agujas-crochet.jpg" alt="agujas">
                        <h4>Selección de agujas.</h4>
                        <br>
                        <span>
                            Al contar con la lana <br>
                            y con el patrón de diseño, ya solo <br>
                            nos queda un paso importante, <br>elegir la aguja. <br>
                            Los trabajos difieren mucho del tipo de aguja
                            que elijamos. No es lo mismo un buzo con un <br>
                            patrón de puntos abiertos, que un amigurumi donde <br>
                            los puntos son muy cerrados.
                        </span>
                    </div>

                    <div class="card-datos">
                        <img src="/img/amigurumis.jpg" alt="amigurumis">
                        <h4>Amigurumis.</h4>
                        <br>
                        <span>
                            Los conocidos "Amigurumis" no son más que <br>
                            los simples muñecos que nos piden los niños. <br>
                            Se pueden tejer diversos amigurumis, y cada uno <br>
                            presenta un desafío distinto. Al ser muñecos <br>
                            tendremos muchas curvas, aumentos y disminuciones de puntos.
                        </span>
                    </div>

                    <div class="card-datos">
                        <img src="/img/puntos.jpg" alt="vareta">
                        <h4>Punto Bajo, Punto Medio y Vareta.</h4>
                        <br>
                        <span>
                            Para tejer a crochet se tienen que conocer <br>
                            los puntos básicos que se tejen mediante las cadenitas. <br>
                            Éstos son los puntos bajo, punto medio y punto alto o vareta. <br>
                            Conociendo estos 3 puntos, se pueden hacer infinidades de
                            combinaciones. Los llamados puntos fantasía derivan de éstas combinaciones.


                        </span>
                    </div>

                </div>
            </div>

            <span>
                <strong>
                    Si te gustaría conocer mas detalles, aprender técnicas o muchos otros beneficios, <a href="/registro">registrate</a> e <a href="/login">inicia sessión</a>.
                </strong>
            </span>

        </div>

    </div>
</div>

</div>

<hr>
<div class="footer">
    <span>
        ¡Muchas Gracias por su visita!
    </span>

    <p>
        © 2022 - 2024 | Punto Feliz - <a href="/contacto">Contacto</a>
    </p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productos.js"></script>