* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Titulos';
    src: url('/font/Rustic.ttf');
}

body {
    background-image: url("../img/fondo.png");
    min-height: 100vh;
}

h1 {
    font-family: "Titulos";
    font-size: 50px;
    color: rgb(255, 183, 0);
    text-shadow: 2px 2px 4px black;
}

.titulo {
    font-family: "Titulos";
    font-size: 38px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px black;
}

li {
    list-style: none;
}

.link {
    color: aliceblue;
    font-weight: bold;
}

.header {
    display: flex;
    max-width: 100%;
    height: 120px;
    background-color: rgba(35, 35, 93, 0.74);
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.header img {
    width: 95px;
    margin-left: 15px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.titulo span {
    background-color: rgba(240, 248, 255, 0.476);
    border-radius: 35%;
}

/* MENU HORIZONTAL PARA HOME */
.menuH {
    width: 100%;
    height: auto;
    background-color: rgb(21, 21, 61);
    text-align: center;
}

.menuH ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.menuH ul li a {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 2px 2px 4px black;
    font-size: 18px;
}

.menuH ul li a:hover {
    color: darkorange;
}

/* MENU color PARA DEMAS PAGINAS */
.menu2 {
    width: 100%;
    height: auto;
    background-color: rgb(21, 21, 61);
    text-align: center;
}

.menu2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.menu2 ul li a {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 2px 2px 4px black;
    font-size: 18px;
}

.menu2 ul li a:hover {
    color: darkorange;
}

/* fin */
.main {
    display: flex;
    max-width: 100%;
    height: 350px;
    background-color: rgba(214, 214, 234, 0.78);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgb(21, 21, 61);
    height: 110px;
    width: 100%;
    text-align: center;
}
.footer span{
    font-family: "Titulos";
    font-weight: bold;
    font-size: 35px;
    color: goldenrod;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.footer p{
    font-size: 18px;
    color: rgb(234, 218, 177);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.footer p a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(172, 149, 92);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

@media (max-width: 690px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 320px;
    }

    .menu {
        padding: 10px;
        height: max-content;
    }
}

/* Demas Paginas a partir de aca */

.main-pag {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex-grow: 1;
}

.main-pag .menu2 {
    background-color: rgba(70, 13, 63, 0.796);
}

.card {
    border-style: groove;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.79);
}

.card .carrito, .seguir-comp, .pagina {
    margin: 10px;
    padding: 15px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(30, 24, 128);
    background-color: rgba(137, 43, 226, 0.424);
}
.card .carrito img, .card .seguir-comp img{
    height: 30px;
}
.card .carrito, .card .seguir-comp{
    text-align: center;
}
.card .carrito:hover, .seguir-comp:hover, .pagina:hover {
    color: rgb(255, 4, 0);
    background-color: rgba(71, 24, 115, 0.864);
    box-shadow: 2px 2px 5px black;
}

.card ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 15px;
    gap: 15px;
    justify-content: center;
}

.card-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 205px;
    padding: 10px;
    border: solid thin rgb(97, 105, 110);
    border-style: groove;
    border-radius: 5px;
    text-align: center;
    gap: 10px;
    background-color: rgba(37, 11, 108, 0.607);
}

.card-prod img {
    height: 250px;
    align-items: center;
}

.card-prod li {
    list-style: none;
    margin-bottom: 10px;
    color: aliceblue;
}

.card-prod button {
    padding: 8px;
    border-radius: 15px;
    font-weight: bold;
}

.card-prod button:hover {
    background-color: goldenrod;
    color: rgb(32, 9, 65);
}

.card .stock {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    gap: 5px;
    box-sizing: border-box;
    justify-content: center;
}

.card .stock form {
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.card .stock input[type="text"],
.card .stock input[type="file"] {
    text-align: center;
    width: 300px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.grabar {
    border-radius: 40%;
    padding: 15px;
    font-weight: bold;
}

.grabar:hover {
    background-color: goldenrod;
}

.card .datos {
    background-color: rgba(45, 45, 97, 0.568);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    max-width: 300px;
    border-style: double;
    margin-bottom: 10px;
}

.card form .registro,
.login {
    font-weight: bold;
    border-radius: 35px;
    padding: 10px;
    margin-bottom: 15px;
}

.card form .registro:hover {
    background-color: goldenrod;
    color: red;
}

.card form .login:hover {
    background-color: goldenrod;
    color: red;
}

@media (max-width: 690px) {
    .card .stock {
        display: flex;
        width: auto;
        flex-direction: column;
        margin: auto;
    }
}

/* CHAT */
.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.631);
}

.bienve-chat {
    padding-top: 15px;
    text-align: center;
}

.chat input {
    width: 70%;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;
}

#mensajes {
    flex-grow: 1;
    width: 95%;
    max-width: 600px;
    height: 250px;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px #333 inset;
    padding: 10px;
    background-color: rgba(48, 118, 188, 0.746);
    margin: 0 auto;
}

.mensaje {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(241, 154, 248, 0.862);
    display: inline-block;
    margin-top: 5px;
}

#usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.paginas a {
    text-decoration: none;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 17px;
    color: rgb(16, 16, 98);
}

.paginas a:hover {
    color: rgb(112, 89, 31);
}

.logo img{
    height: 150px;
    padding: 15px;
}

.info-registro{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(11, 11, 50);
    justify-content: center;
}
.info-registro span{
    text-align: center;
    font-size: 19px;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
}

.compra{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 15px;
}
.compra a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.compra img {
    width: 50px;
    height: 50px;
}
.compra img:hover{
    width: 60px;
    height: 60px;
}
.compra strong {
    color: red;
    margin-bottom: 5px;
}

.vacio{
    font-size: 22px;
    color: red;
}
.vacio-car{
    height: 50px;
}

.correo{
    max-width: 500px;
    width: 100%;
    margin: 20px;
    height: auto;
}
.correo img{
    height: 50px;
}
.correo form .input{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.correo form .input input{
    width: 50%;
    margin: 5px;
}
.mensaje-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}
.mensaje-contacto strong{
    margin: 5px;
}
.mensaje-contacto textarea {
    resize: none;
    width: 90%; 
    height: 200px;
 }
 .enviar-archivos{
    margin: 10px;
 }
.links{
    display: flex;
    padding: 30px;
    gap: 30px;
}
.links .links-carr{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: rgb(31, 31, 95);
}
.links .links-carr img{
    width: 50px;
}
.links .links-carr:hover{
    color: rgb(22, 127, 201);
}

.ticket{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    padding: 35px;
    border-radius: 10%;
    border-style: groove;
    max-width: 100%;
    background-color: rgb(106, 79, 131);
}
.carrito-volver{
    display: flex;
    gap: 50px;
}
.carrito-volver .links-carr{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: rgb(31, 31, 95);
    margin: 20px;
}
.carrito-volver .links-carr img{
    height: 50px;
}
.main-home{
    display: flex;
    min-height: fit-content;
    flex-direction: column;
}
.main-home .presentacion-home{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: rgba(136, 136, 167, 0.913);
}
.main-home .presentacion-home span{
    display: flex;
    width: 100%;
    padding: 20px;
    color: rgb(20, 12, 57);
    font-weight: bold;
    font-size: 17px;
    font-family:'Segoe UI';
    text-align: center;
    justify-content: center;
}

.slider{
    width: 100%;
    height: auto;
    margin-top:5px;
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200 * 16);
}
.slider .slide{
width: 200px;
}
.slider .slide img{
    width: 200px;
}

@keyframes scroll {
    0% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(calc(-200px * 8));
    }
}

.main-home .card-info-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: rgba(234, 215, 192, 0.824);
    gap: 20px;
    padding-bottom: 15px;
    justify-content: center;
}
.main-home .card-info-main span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(74, 74, 136);
    padding: 20px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    font-family:'Segoe UI';
}
.main-home .card-info-main span img{
    height: 55px;
}
.main-home .card-info-main .card{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    overflow: hidden;
    flex-direction: column;
    max-width: 220px;
    min-height: 120px;
    border-style: groove;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6%;
}
.main-home .card-info-main .card img{
    width: 100%;
    height: auto;
}
.main-home .card-info-main .card .card-content{
    padding: 15px; 
}
.main-home .card-info-main .medidas{
    width: 350px;
}

.imagen-p{
    max-width: 850px; ; 
}

.limpiar{
    text-decoration: none;
    font-family: 'Gill Sans';
    font-weight: bold;
    color: rgb(18, 18, 89);
}
.limpiar:hover{
    color: rgb(82, 119, 205);
}
.pagar{
    text-decoration: none;
    font-family: 'Gill Sans';
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.pagar:hover{
    color: rgb(89, 18, 18);
}
.regresar strong{
    color: rgb(18, 18, 89);
}
.regresar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.regresar a img{
    width: 50px;
}
.regresar a img:hover{
    width: 60px;
}

.aclaracion-finCompra{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background: rgb(20, 20, 71);
    padding: 30px;
    border-radius: 5%;
    border-style: groove;
}
.aclaracion-finCompra span{
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}
.card .quienes{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(14, 14, 44);
    text-align: center;
    padding: 15px;
    justify-content: center;
}
.card .quienes span{
    color: #ccc;
    font-weight: bold;
}
.card .historia{
    margin: 10px;
    width: 80%;
    min-height: 220px;
    border-style: double;
    background-color: rgba(241, 234, 220, 0.835);
    box-shadow: 2px 2px 4px black;
}
.card .historia img{
    width: 50px;
}

.card .servicios{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(14, 14, 44);
    text-align: center;
    padding: 15px;
    justify-content: center;
}
.card .servicios span{
    color: #ccc;
    font-weight: bold;
}

.card .nuestros-servicios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding: 10px;
    width: 95%;
    min-height: 220px;
    border-style: double;
    background-color: rgba(241, 234, 220, 0.835);
    box-shadow: 2px 2px 4px black;
    gap: 20px;
}
.card .nuestros-servicios h3{
    font-family: "Titulos";
    font-size: 28px;
}
.card .nuestros-servicios .productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.card .nuestros-servicios .productos .card-product{
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.79);
    box-shadow: 2px 2px 4px black;
} 
.card .nuestros-servicios .productos .card-product img{
    height: 220px;
    max-width: 100%;
}

.consejos{
    width: 100%;
    height: auto;
    background-color: rgba(38, 38, 62, 0.938);
    padding: 10px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
}
.utiles{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(142, 72, 22, 0.881);
    gap: 15px;
}
.utiles .card-utiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.utiles .card-utiles .card-datos{
    display: flex;
    flex-direction: column;
    border-style: groove;
    width: 150px;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.79);
    box-shadow: 2px 2px 4px black;
    margin: 15px;
}
.utiles .card-utiles .card-datos img{
    height: 220px;
    max-width: 100%;
}