<ul>

    {{#if login}}
    <li>
        <a href="/perfil">Perfil</a>
    </li>

    <p class="link">||</p>

    <li>
        <a href="/chat">Chat</a>
    </li>

    <p class="link">||</p>
    
    <li>
        <a href="/productos">Productos</a>
    </li>

    <p class="link">||</p>

    <li>
        <a href="/carrito/{{carrito._id}}">Carrito</a>
    </li>

    <p class="link">||</p>

    <li>
        <a href="/api/session/logout">Loguout</a>
    </li>

    {{else}}

    <li>
        <a href="/">Home</a>
    </li>

    <p class="link">||</p>

    <li>
        <a href="/registro">Registrate</a>
    </li>

    <p class="link">||</p>

    <li>
        <a href="/login">Logueate</a>
    </li>

    {{/if}}

    <p class="link">||</p>

    <li>
        <a href="/usuarios">Usuarios</a>
    </li>
    
    <p class="link">||</p>

    <li>
        <a href="/stock">Stock</a>
    </li>

    <p class="link">||</p>

    <li>
        <a href="/contacto">Contacto</a>
    </li>

</ul>